body {
  width: 100vw;
  height: 100vh;
}
.form-container {
  border: 0px solid black;
  padding: 30px 60px;
  margin-top: 2vh;
  box-shadow: 2px 0px 32px 10px black;
  -webkit-box-shadow: 2px 0px 32px 10px black;
  -moz-box-shadow: 2px 0px 32px 10px black;
}
.navbar {
  background-color: #17a2b8;
  border-radius: 0;
  border: none;
  height: 10vh;
}

.navbar .navbar-nav li a {
  color: white;
}

.navbar .navbar-nav li a:hover {
  border-bottom: 1px solid white;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
